body {
  padding-top: 5rem;
  text-align: center;
  background-color: lavenderblush;
  color: black; }

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center; }

.beachbackground {
  height: 100%;
  background-image: url(../images/beach.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: local;
  background-repeat: no-repeat; }

.drinkbackground {
  height: 100%;
  background-image: url(../images/drink.jpg);
  background-size: contain;
  background-position: center;
  background-attachment: local; }

.textbackground {
  background-color: lavenderblush;
  color: black; }
